/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Henny Penny', cursive;
}

.information form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input{
  width: 300px;
  height: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.information select{
  width: 305px;
  margin-top: 5px;
}

.information button{
  width: 300px;
  height: 20px;
  margin-top: 15px;
}

.information button:hover{
  cursor: pointer;
}

.list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.list button{
  width: 300px;
  height: 20px;
  margin-top: 15px;
}

.list button:hover{
  cursor: pointer;
}*/
.container{
  margin-top: 40px;
}

.table table-hover{
  width: 100%;
  min-height: 200px; /* Altura de ejemplo */
  overflow: auto;
}

.mb-3 button{
  margin-top: 20px;
}

.countrylist{
  width: 600px;
  height: 60px;
  border: 1px solid;
  display: flex;
  margin: 10px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.countrylist h4{
  margin: 20px;
} 
